@media (max-width: 650px) {
  .menu {display: none;}
  a {
    float: right;
    display: block;
  }
}
@media (min-width: 650px){
  a {display: none}
}
.header{
  @media (min-width: "650px") {
    display: flex;
    flex-flow: row;
  }
  .bar{
    @media (min-width: "650px") {
      flex: 2 1 auto;
    }
    display: block;
  }
  .name{
    @media (min-width: "650px"){}
  }
  .menu{
    @media (min-width: "650px") {
      align-self: center;
      text-align: right;
      flex: 1 1 auto
    }
  }
  .menu-item{
    @media (min-width: "650px") {}
    display: block
  }
}